/* Empty. Add your own CSS if you like */
path {
  fill: cyan;
  animation:
    load 10s linear infinite,
    color 9s linear infinite;
}

@keyframes color {
  33% { fill: yellow; }
  66% { fill: magenta; }
}

.my-svg-icon {
    background-color: red;
    -webkit-mask-image: url(../img/bird.svg);
    mask-image: url(../img/bird.svg);
    width: 400px;
    height: 690px;
}

